<% if alert %>
  <div class="w-50 mt-2 m-auto alert alert-<%= style %> alert-dismissible fade show" role="alert">
  <p><%= alert %></p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>
